<button type="button" class="float-right" data-toggle="modal" data-target="#nModal">open</button>
<div class="modal" id="nModal">
  <div class="modal-dialog ">

    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Ticket</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
       
      </div>

      <div class="modal-body">
       

        <form [formGroup]="Registration">

            <div class="form-group row">
            <div class="col-md-6">
            <label>Customer Name-</label>
            <select  class="custom-select"  [class.is-invalid]= "cName.invalid && cName.touched" formControlName="cName">
                <option *ngFor="let item of nameList" value="{{item.FirstName + item.MiddleName + item.LastName}}">{{item.FirstName + item.MiddleName + item.LastName}}</option>
            </select>
            </div>
            </div>
            
            <div class="form-group row">
                <div class="col-md-6">
                <label >Contract Name-</label>
                <select  class="custom-select"  formControlName="coName">
                    <option *ngFor="let item of contractList" value="{{ item.ContractNumber }}">{{ item.ContractNumber }}</option>
                </select>
            </div>
            <div class="col-md-6">
                <label>Labour ID -</label>
                <select  class="custom-select" formControlName="lName">
                    <option *ngFor="let item of Labour" value="{{ item.Name }}">{{ item.Name }}</option>
                </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                <label>Ticket Channel -</label>	
                <select  class="custom-select" formControlName="tc" id="tc">
                    <option></option>
                    <option>Phone</option>
                    <option>Call Center</option>
                    <option>Customer Portal</option>
                    <option>Email</option>
                </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                <label>Contact Number -</label>
                <input type="number" class="form-control" formControlName="cNumber" id="cnumber">
                </div>
                <div class="col-md-6">
                <label>Email -</label>
                <input type="email" class="form-control" formControlName="email" id="email">	
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                <label>Ticket Type -</label> 
                <select class="custom-select"  formControlName="tt" id="tt" >
                <option *ngFor="let item of ticket" value="{{item.ID}}">{{item.Name}}</option>	
                </select>
                </div>
                <div class="col-md-6">
                <label>Department -</label>
                <select  class="custom-select" formControlName="dep" id="dep" >
                    <option *ngFor="let item of depart" value="{{item.ID}}">{{item.Name}}</option>
                </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                <label>Assigned To -</label>
                <select  class="custom-select" formControlName="at" id="at">
                    <option *ngFor="let item of assigned" value="{{item.Name}}">{{item.Name}}</option>
                </select>
                </div>
                <div class="col-md-6">
                <label>Priority -</label>
                <select class="custom-select" formControlName="pr" id="pr">
                    <option *ngFor="let item of priority" value="{{ item.Name }}">{{ item.Name }}</option>
                </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                <label>Category -</label>
                <select  class="custom-select" formControlName="cat" id="category">
                    <option *ngFor="let item of category" value="{{item.TicketAssignGroupID}}">{{item.TicketGroupName }}</option>
                </select>
                </div>
                <div class="col-md-6">
                <label>Sub Category -</label>
                <select  class="custom-select" formControlName="sub" id="subcategory">
                    <option *ngFor="let item of subCategory" value="{{item.Description}}" >{{item.Description}}</option>
                </select>	
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                <label>Subject -</label>
                <input type="text" class="form-control" name="subject" id="subject" >
                </div>
            </div>
            <div class="form-group row">
            <div class="col">
                <label>Description</label>
                <textarea class="form-control" name="tx" rows="2" id="tx"></textarea>
            </div>
            </div>
            <!-- <div class="form-group row">
            <div class="col-2">
                <label>File</label>
            </div>
                <input type="file" name="file" id="file">
            </div> -->

        </form>



      </div>

      <div class="modal-footer">
        <input type="submit" (click)="onFormSubmit()" name="submit" value="Create" [disabled]= "!Registration.valid" class="btn btn-success" data-dismiss="modal">
      </div>
    </div>
    
  </div>
</div>