<div class="heading">
    <div class="container clearfix">
     <div class="title">
            <h1>Basic90</h1>
     <p>Free HTML,Website Template</p>
    </div>
    <div class="searchbox">
    
        <input type="search" placeholder="Search Our Website">
        <button type="submit" class="but">Submit</button>
    
    </div>
    
    <div class="navlink">
        <nav class="navbar navbar-expand-sm justify-content-center">
        <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="#">TEXT LINK</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">TEXT LINK</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">TEXT LINK</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">TEXT LINK</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">TEXT LINK</a>
        </li>
        </ul>
        </nav>
        </div>
    </div>
    </div>

    <div class="table container clearfix">
        <div> 
            <h2 class="float-left">Table</h2>
           <app-popup (name)="message($event)"></app-popup>
    </div>  
    </div>      
    <div class="tab">
        <table class="type" id="tableList">
            <thead>
            <tr>
            <th>Customer ID</th>
            <th>Contract Number</th>
            <th>Labour ID</th>
            <th>Ticket Channel</th>
            <th>Contact Number</th>
            <th>Email</th>
            <th>Ticket Type</th>
            <th>Department</th>
            <th>Assigned To</th>
            <th>Priority</th>
            <th>category</th>
            <th>Sub Category</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of hi">
                    <td>{{item.cName}}</td>
                    <td>{{item.coName}}</td>
                    <td>{{item.lName}}</td>
                    <td>{{item.tc}}</td>
                    <td>{{item.cNumber}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.tt}}</td>
                    <td>{{item.dep}}</td>
                    <td>{{item.at}}</td>
                    <td>{{item.pr}}</td>
                    <td>{{item.cat}}</td>
                    <td>{{item.sub}}</td>
                </tr>

            </tbody>
            </table>    
    </div>

   



    <div class="footer" style="height: 400px;background-color: #262626;">
        <div class="container">
        
        <div class="row" style="height: 370px;background-color: #262626;width: 100%;padding-left: 20px;">
        <div class="col-3">
        <h5 class="hlink">LINK BLOCK</h5>
        <br>
        <a href="#" class="dlink">Lorem ipsum dolor sit</a><br><hr class="hrline">
        <a href="#" class="dlink">amet consectetur</a><br><hr class="hrline">
        <a href="#" class="dlink">Praesent vel sem id</a><br><hr class="hrline">
        <a href="#" class="dlink">Curabitur hendrait ast</a><br><hr class="hrline">
        <a href="#" class="dlink">Sed a nulla urna</a><br><hr class="hrline">
        </div>
        <div class="col-3">
        <h5 class="hlink">LINK BLOCK</h5>
        <br>
        <a href="#" class="dlink">Lorem ipsum dolor sit</a><br><hr class="hrline">
        <a href="#" class="dlink">amet consectetur</a><br><hr class="hrline">
        <a href="#" class="dlink">Praesent vel sem id</a><br><hr class="hrline">
        <a href="#" class="dlink">Curabitur hendrait ast</a><br><hr class="hrline">
        <a href="#" class="dlink">Sed a nulla urna</a><br><hr class="hrline">
        </div>
        <div class="col-3">
        <h5 class="hlink">LINK BLOCK</h5>
        <br>
        <a href="#" class="dlink">Lorem ipsum dolor sit</a><br><hr class="hrline">
        <a href="#" class="dlink">amet consectetur</a><br><hr class="hrline">
        <a href="#" class="dlink">Praesent vel sem id</a><br><hr class="hrline">
        <a href="#" class="dlink">Curabitur hendrait ast</a><br><hr class="hrline">
        <a href="#" class="dlink">Sed a nulla urna</a><br><hr class="hrline">
        </div>
        <div class="col-3">
        <h5 class="hlink">LINK BLOCK</h5>
        <br>
        <a href="#" class="dlink">Lorem ipsum dolor sit</a><br><hr class="hrline">
        <a href="#" class="dlink">amet consectetur</a><br><hr class="hrline">
        <a href="#" class="dlink">Praesent vel sem id</a><br><hr class="hrline">
        <a href="#" class="dlink">Curabitur hendrait ast</a><br><hr class="hrline">
        <a href="#" class="dlink">Sed a nulla urna</a><br><hr class="hrline">
        </div>
        </div>
        </div>
        </div>
        <div class="last">
        <div class="container">
        <p class="float-left">Copyright<span>&#169;</span>2009-2020-All Right Reserved-Domain Name
        </p>
        <p class="float-right" style="padding-right: 110px;">
        Template by OS Templates
        </p>
        </div>
        </div>