.heading{
    background-color: black;
}
.searchbox{
    float: right;
    margin-top: 20px;
}
.title{
    float: left;
    margin-top: 20px;
    color: white;
}
.navbar-expand-sm{
    background-color: black;
    padding-right:280px;
    padding-left: 190px;
    }
.navlink{
    float:left;
    }
.but{
    background-color: orange;
    margin-left: 5px;
}
.hrline{
    border-bottom: 1px solid #706f6f;
    }
 .dlink{
        color: orange;
        }
 .dlink:hover{
        color: black;
        background-color: orange;
        text-decoration: none;
        }
.hlink{
    color: white;
    padding-top: 30px;
}
.last{
    background-color: black;
    width: 100%;
    height: 50px; 
    padding-left:35px;
    padding-top: 20px;
    color: #818281;
    padding-bottom: 40px; 
}
.table{
    margin-top: 20px;
}
.tab{
    margin-bottom: 100px
}
.type{
    background-color: #141414;
    color: white;
    width: 100%
}
tr, th, td{
	border: 2px solid white;
}
.fcbutton{
    color: grey;
    border:none;
    background-color: white;
    }
